:root {
  --primary: #80cc2b;
  --secondary: #48770f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
